if theme.google_search == true
  .widget
    .search-form
      input(id='local-search-input' style='width:218px; height:20px' placeholder='Search' type='text' results='0')
      div#local-search-result
if theme.self_search == true
  .widget
    .search-form
      input(id='local-search-input' style='width:218px; height:20px' placeholder='Search' type='text' results='0')
      div#local-search-result

